body{
    background-color: hsla(240,100%,50%, 0.3);
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: Tahoma;
    font-size: 16px;
    color: white;
  }
  h1, p{
    color: white;
    margin: 1em auto;
    text-align: center;
  }
  p{
    font-style: italic;
  }
  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  form{
    background-color: rgba(8, 6, 50, 0.728);
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  fieldset{
    border: none;
    padding: 2rem 2rem 0 2rem;
    border-bottom: 3px solid #3b3b4f;
  }
  fieldset:last-of-type {
    border-bottom: none;
  }
  label{
    display: block;
    margin: 0.5rem 0 0 0;
  }
  input, textarea, select{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  .input-radio, .input-checkbox{
    display: inline-block;
    margin-right: 0.62rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    border-color: white;
    min-width: 300px;
  }