body{
    background-color: rgba(245, 217, 222,17%)
  }
  h1{
    background-color: rgba(214, 214, 214, 60%)
  }
  img{
    display: block;
  
  }
  #image{
    max-width: 100%;
    align-items: center;
    height: auto;
  }